
 	 	<% include partials/head %>
    	<!-- start navbar -->
    	<% include partials/navbar %>
    			<!-- start navtabs -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/profile">Profile</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Sign Up</a></li>
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
			</div>
		</div>
		<!--end navbar-->

		<div class="container" class="bgimage"> 
			<div class="row">
				<div class="col-xs-12">
					<div class="logoutBtn">
						<form method="POST" action="/logout?_method=DELETE">
							<button class="btn btn-danger">Logout</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		</br>

	<!-- start content of body -->
	<div class="container">
		<div class="jumbotron"> 		
			<div class="row">
				<div class="col-sm-6">
				<h3>Search result</h3>
					<h4>How many Joke can you handle</h4>	
					<form method="GET" action="/search">
						<input type="text" name="number" placeholder="Number of Jokes">
					</br></br>
						<button class="btn btn-primary">Click</button>
					</form>	
					</div>
					<div class="col-sm-6">
					</br>
					</br>
					<h4>Enter your Name for custom Joke</h4>
					<form method="GET" action="/search2" >
						<input type="text" name="firstName" placeholder="First Name">
						<input type="text" name="lastName" placeholder="Last Name">
						</br></br>
						<button class="btn btn-primary">Click</button>
					</form>	
					</div>
				</div>
			</div>
		</div>
	</div>

			</br></br>
		<div class="container"> 
			<div class="row">
				<div class="col-sm-10 offset-2">
				<ol> <!-- parseJOSN is from app.js file -->
					<% parseJSON.forEach(function(apiJoke) { %>
						<!-- this pass the API joke onto each line -->
						<li><%= apiJoke.joke %></br></br></li>		
						<!-- beginning of favorite button -->
						<!-- this post to app.post('/favoritejoke') -->
						<form method="POST" action="/favoritejoke">
							<!-- value is taking the joke(value) the is coming in from the API -->
							<input type="text" value="<%=apiJoke.joke %>" name="joke" style="display: none;">
							<button class="btn btn-success">Add to Favorite</button>

								
							<!-- <button> Favorite </button> -->
						</form>
					<% }); %>
				</ol>
		</div>	
		<!-- end content of body -->

		<!-- footer start here-->
				<% include partials/footer %>