<!DOCTYPE html>
<html lang="en">
 	 <head>
 	 	<% include partials/head %>
    </head>
	<body>
    	<!-- start navbar -->
    	<% include partials/navbar %>

    			<!-- start navtabs -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/profile">Profile</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Sign Up</a></li>
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
			</div>
		</div>
		<!--end navbar-->

		<!-- start content of body -->
		<div class="container"> 		
			<div class="row">
				<div class="col-sm-6">
					<h3> Jokes: </h3>
					<form method="GET" action="/search">
						<input type="text" name="number" placeholder="How many">
						<button>get ready to laugh</button>
					</form>	
				</div>
				<div class="col-sm-6">
					<h3>Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.</p></br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 offset-6">

				<ol>
					<% jokes.forEach(function(apiJoke) { %>
						<li><%= apiJoke.joke %></li>
						<!-- beginning of favorite button -->
						<form method="POST" action="/favoritejoke">
							<input type="text" value="<%=apiJoke.joke %>" name="joke" style="display: none;">
							<button> Favorite </button>
						</form>
						
					<% }); %>
				</ol>
			</div>
		</div>
		
		<!-- end content of body -->

		<!-- footer start here-->
				<% include partials/footer %>
			</body>
		</html>
			</body>
		</html>