.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

body {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 0px;
	padding-bottom: 100px;
}

.jumbotron {
	margin-top:0px;
	padding-bottom: 60px;
	background-color: #cccccc;

}

.signupBox {
	padding-top:60px;
	text-align:right;
}


.loginBox {
	padding-top:60px;
	text-align:right;
}

.logoutBtn {
	text-align:right;
	padding-right:30px;
}

.navbar-header {
	background-color: 999999;
	
}

#jumbo {
  padding: 10px;
}

