 	 	<% include ../partials/head %>
    	<!-- start navbar -->
    	<% include ../partials/navbar %>
    			<!-- start navtabs -->
			    <div class="navbar-collapse collapse">
			      	<ul class="nav navbar-nav navbar-right">
			     	   	<li><a href="/">Home</a></li>
			        	<li><a href="/profile">Profile</a></li>
			        	<li class="active"><a href="/login">Login</a></li>
						<li><a href="/signup">Sign Up</a></li>
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
		    </div>
		</div>
		<!--end navtab-->

		<!-- start content of body -->
		<!-- Jumbotron -->
		<div class="jumbotron" id="jumbo" style="background:#ffffff">
			<a href="" class="thumbnail">
			<img src="images/ChuckEnterDragon.jpg" alt="chuckBloodType"></a>
		</div>

		<div class="container"> 
			<div class="row">
				<div class="col-sm-8">
					<h3>Login</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.</p>
				</div>

				<!-- Login Box -->
				<div class="col-sm-4">
					<div class="loginBox">
						<form method="POST" action="/login">
						<input type="text" name="email" placeholder="Email" value="test@test.com"></br></br>
						<input type="password" name="password" placeholder="Password" value="password"></br></br>
						<button class="btn btn-danger">Login</button>
						</form>
					</div>
				</div>
				<!-- end of Login box -->
			</div>
		</div> 
					
		<!-- end content of body -->

		<!-- footer start here-->
		<% include ../partials/footer %>