<!DOCTYPE html>
<html lang="en">
 	 <head>
 	 	<% include ../partials/head %>
    </head>
	<body>
    	<!-- start navbar -->
    	<% include ../partials/navbar %>

    			<!-- start navtabs -->
			    <div class="navbar-collapse collapse">
			      	<ul class="nav navbar-nav navbar-right">
			     	   	<li><a href="/">Home</a></li>
			        	<li class="active"><a href="/profile">Profile</a></li>
						<% if (!ejsUser) { %>
							<li><a href="/login">Login</a></li>
							<li><a href="/signup">Sign Up</a></li>
						<% } else { %>
							<li><a href="#">Hello <%= ejsUser.email %></a></li>
						<% } %>
						
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
		    </div>
		</div>
		<!--end navbar-->

		<!-- start content of body -->

		<div class="container"> 
			<div class="row">	
				<div class="col-xs-12">
					<div class="logoutBtn">	
						<% if (ejsUser) { %>
						<form method="POST" action="/logout?_method=DELETE">
							<button class="btn btn-danger">Logout</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<% } else { %>
				<div class="col-sm-12">
					<div class="loginBtn">	
						<form method="POST" action="/login">
							<button class="btn btn-danger">Login</button>
						</form>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</br>
		<div class="container"> 
			<div class="row">
				<div class="col-sm-12">
					<h3>Favorite Jokes</h3>
				</div>
			</div>
		</div>
		<div class="container"> 
			<div class="col-sm-8">
				<ul><!-- this reference app.get('/profile') -->
					<% thisJoke.forEach(function(fav){ %>
					<!-- fav reference the function param and joke is the table col -->
					<li><%= fav.joke %></li>
					<% }) %>
				</ul>
			</div>
				<div class="col-sm-4">
					<img src="images/ChuckNorrisApproved_200.gif" alt="chuckBloodType">	
				</div>				
			</div>
		</div>

		<div class="container">
			<div class="col-sm-12">
			</br></br></br>
				<h4>BONUS video: Mario get owned!</h4>
					<iframe width="420" height="315" src="https://www.youtube.com/embed/BeNN3brE8Ew" frameborder="0" allowfullscreen></iframe>
				</br>
			</div>
		</div>
		<!-- end content of body -->				

		<!-- footer start here-->
		<% include ../partials/footer %>
	</body>
</html>














