<!DOCTYPE html>
<html lang="en">
 	 <head>
 	 	<% include ../partials/head %>
    </head>
	<body>
    	<!-- start navbar -->
    	<% include ../partials/navbar %>

    			<!-- start navtabs -->
			    <div class="navbar-collapse collapse">
			      	<ul class="nav navbar-nav navbar-right">
			     	   	<li><a href="/">Home</a></li>
			        	<li class="active"><a href="/profile">Profile</a></li>
						<% if (!ejsUser) { %>
							<li><a href="/login">Login</a></li>
							<li><a href="/signup">Sign Up</a></li>
						<% } else { %>
							<li><a href="#">Hello <%= ejsUser.email %></a></li>
						<% } %>
						
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
		    </div>
		</div>
		<!--end navtab-->

		<!-- start content of body -->
		<div class="container"> 
			<div class="row">				
				<div class="col-xs-12">
					<div class="logoutBtn">	
						<form method="POST" action="/logout?_method=DELETE">
							<button class="btn btn-danger">Logout</button>
						</form>
					</div>
				</div>
			</div>

				<div class="row">
					<div class="col-sm-6">
						<h3>Profile</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.</p>
					</div>

					<div class="col-sm-6">
						<h3>Favorite Jokes</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.</p>	
					</div>				
				</div>
		</div>
		<!-- end content of body -->				

		<!-- footer start here-->
		<% include ../partials/footer %>
	</body>
</html>














