 	 	<% include ../partials/head %>
    	<!-- start navbar -->
    	<% include ../partials/navbar %>

    			<!-- start navtabs -->
			    <div class="navbar-collapse collapse">
			      	<ul class="nav navbar-nav navbar-right">
			     	   	<li><a href="/">Home</a></li>
			        	<li><a href="/profile">Profile</a></li>
			        	<li><a href="/login">Login</a></li>
						<li class="active"><a href="/signup">Sign Up</a></li>
						<li class="dropdown"> </li>
					</ul> 
				</div>	        
		    </div>
		</div>
		<!--end navbar-->

		<!-- start content of body -->
	<div id="jumbo" class="jumbotron" style="background:#ffffff" >
		<a href="" class="thumbnail">
		<img src="images/maxresdefault.jpg" alt="chuckBloodType"></a>
	</div>
		
		<div class="container"> 		
			<div class="row">
					<div class="col-xs-8">
						<h3>Sign up Today!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit convallis nisl, eget rutrum lectus commodo at. Pellentesque mattis justo vel augue pretium euixsod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eu turpis eros.</p>
					</div>
					<!-- SignUp box -->
					<div class="col-xs-4">
						<div class="signupBox">
							<form method="POST" action="/signup">
								<input type="text" name="email" placeholder="Email"></br></br>
								<input type="password" name="password" placeholder="Password"></br></br>
								<button class="btn btn-danger">Sign Up</button>
							</form>
						</div>
					</div>
					<!-- end of SignUp box-->
				</div>
			</div>
		</div> 
		<!-- end content of body -->				

		<!-- footer start here-->
		<% include ../partials/footer %>