<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div>
		<a href="/login">Login page </a><br/><br/>
		<a href="/profile">Profile page </a><br/><br/>
		<a href="/index">Index page </a><br/><br/>
	</div>
	<h2>SignUp Page</h2>
	<form method="POST" action="/signup">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button>Sign Up</button>
	</form>
</body>
</html>